<mat-nav-list>
    <a href="" mat-list-item (click)="selectAction($event)">
        <span mat-line>Open</span>
        <span mat-line>View this file locally</span>
    </a>

    <a href="" mat-list-item (click)="selectAction($event)">
        <span mat-line>Google Gmail</span>
        <span mat-line>Send this file via email</span>
    </a>

    <a href="" mat-list-item (click)="selectAction($event)">
        <span mat-line>Google Docs</span>
        <span mat-line>Open this file in Docs</span>
    </a>

    <a href="" mat-list-item (click)="selectAction($event)">
        <span mat-line>Google Drive</span>
        <span mat-line>Save this file in a Drive</span>
    </a>
</mat-nav-list>