<div style="text-align: center; margin-top: 50px;">
    <form>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Your Name</mat-label>
                <input matInput placeholder="Enter your name" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Leave a message"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>