<h2 mat-dialog-title>{{ data?.title }}</h2>

<div mat-dialog-content>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
    <p>This is lorem ipsum, some is not ipsum, the other is also not ipsum, so where is ipsum??</p>
</div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close="">Close</button>
    <button mat-button [mat-dialog-close]="'CLOSE'">Confirm</button>
</div>